# Virtual Environment
env/
venv/
*.pyc
__pycache__/

# Database
db.sqlite3
*.sqlite3

# Static files
staticfiles/

# Media files
media/

# Secret settings
.env
*.env

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Log files
*.log

# Local development settings
local_settings.py

# Other
.DS_Store